h1 {
    background-color: aquamarine;
}

nav {
    background-color: blueviolet;
}

h2 {
   background-color: beige;
}

.bildspel {
    background-color: dimgrey;
}

.match {
    background-color: chocolate;
}

.event {
    background-color: darkturquoise;
}