* {
    background-color: #E5F3FD;
    text-align: center;
}

h1 {
    color: #d9141a;
    font-size: 5em;
    font-family: 'Dancing Script', cursive;
}

.h1 {
    font-size: 2em;
}

.nav, nav {
    text-decoration: none;
    background-color: #d9141a;
    color: #E5F3FD;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav:hover, .nav:hover {
    background-color: #d9141b8f;
}

h2 {
   text-align: center;
   background-color: #d9141a;
   color: #E5F3FD;
}

.h2 {
    background-color: #d9141a;
    color: #E5F3FD;
}


.bold {
    font-weight: bold;
    font-size: 1.5em;
    background-color: #d9141a;
}

img {
    size: 100%;
    width: 100%;
    height: 100%;
}

figure {
    padding-bottom: 5px;
}

#bildspel2 {
    overflow: hidden;
}

.hide {
    display: none;
    position: absolute;
}

li {
    list-style: none;
    color: #E5F3FD;
}

.innav {
    position: sticky;
    top: 0;
}

/*slideshow bs*/ 
.mySlides {
    display: none;
  }

  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
  }
